<label for="search">Search the Todos </label>
<input type="text" name="search" #searchinput (input)="onSearchInput(searchinput.value)">

<br>

<ul *ngIf="todos.length > 0">
  <li *ngFor="let todo of todospreview; let i=index;" >
    <input type="checkbox" name="todoDone"
    (change)="checkBoxChange()"
    [(ngModel)]="todo.isDone">
    <span [class.todo-done]="todo.isDone" >{{ todo.title }} </span>
  <button (click)="deleteTodo(i)"> Delete</button></li>
</ul>

<label for="newTodo">Add new todo: </label>
<input type="text" name="newTodo" #AddTodo 
[(ngModel)]="newTodo">
<button [disabled]="!newTodo" (click)="addNewTodo()">Add</button>
<br>
<button (click)="deleteAllTodos()">clear</button>